body{
    background-color: black;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#tittle{
    color: orange;
    text-align: center;
    font-size: 45px;
}
#img-caption{
    text-align: center;
    color: orange;
}
#tribute-info{
    text-align:justify;
    display: blockS;
    width: auto;
    height: auto;
    text-align: center;
}
#image{
    width: 100%;
    height: 400px;
    display: block;
}
#tribute-link{
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center;
}